* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f0f0f0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
	margin: 0 5em;
	padding: 2.5em 0;
	border-bottom: 0.1px solid grey;
}
a {
	text-decoration: none;
	color: #000;
}
.top_header {
	/* justify-content:center; */
	display: flex;
	align-items: center;
}
.logo {
	width: 10em;
	height: 2.5em;
	background-color: red;
}
.nav {
	list-style: none;
	margin: 0 auto;
	width: 50%;
	display: flex;
}
.nav li {
	flex: 1;
}
.account {
	width: 3em;
	height: 3em;
	border: none;
	border-radius: 50%;
	background-color: grey;
}
.bottom_header {
	display: flex;
	justify-content: space-around;
}
.searchbar {
	background-color: blue;
	width: 50%;
	height: 5em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
section {
	margin: 2.5em 5em;
	padding: 2.5em 0;
	display: flex;
	border-bottom: 1px solid grey;
}
.card {
	width: 33.3%;
	border: 1px solid grey;
	border-radius: 2em;
	padding: 1.5em;
	margin: 1em;
}
.card1_2 {
	width: 50%;
	border: 1px solid grey;
	border-radius: 2em;
	padding: 1.5em;
	margin: 1em;
}
.cardx2 {
	width: 66.6%;
	/* height: 400px; */
	border: 1px solid grey;
	border-radius: 2em;
	padding: 1.5em;
	margin: 1em;
}
.cardx2 h3 {
	margin: 1em;
	text-align: center;
	font-size: x-large;
}
.card1_2 h3 {
	margin: 1em;
}
.photo {
	width: 15em;
	height: 15em;
	border: none;
	border-radius: 50%;
	background-color: grey;
	/* text-align: center; */
	margin: 0 auto 1.2em;
}
.view_profile {
	display: flex;
	justify-content: start;
	margin: 1em 0 0 0;
}
.view_profile .button {
	color: #f0f0f0;
}
.card .button {
	padding: 0.5em 1em;
	border: none;
	border-radius: 0.5em 2em 2em 0.5em;
	background-color: green;
}
.cardx2 .button,
.card1_2 .button {
	padding: 0.75em 1em;
	border: none;
	width: 5em;
	color: #f0f0f0;
	margin-left: auto;
	margin-right: 1em;
	border-radius: 2em 2em 2em 2em;
	background-color: green;
}
div.entry {
	display: flex;
	flex-direction: column;
	margin: 1em;
}
div.entry input,
div.entry textarea {
	padding: 0.7em;
	font-size: 1em;
}
div.entry textarea {
	width: 100%;
	resize: none;
}
footer {
	padding: 0 0 2.5em 0;
	display: flex;
	justify-content: center;
}
.rating {
	margin: 1em auto;
}
.rating p {
	text-align: center;
	font-size: 2em;
}
.review {
	border: 1px solid grey;
	border-radius: 2em;
	padding: 0.5em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5em;
}
.review .critic {
	width: 3em;
	height: 3em;
	border: none;
	border-radius: 50%;
	background-color: grey;
}
.review .feedback {
	width: 90%;
}
.feedback span.vote {
	cursor: pointer;
}
.feedback span.count {
	font-size: 0.8em;
	font-weight: bold;
}
.skillset {
	list-style: none;
	display: inline-flex;
	width: 100%;
	margin: 1em 0 0;
	border-top: 1px solid grey;
	font-size: 0.8em;
	padding: 1em 0 0;
}
.skills {
	font-size: 0.8em;
}
.skillset li::after {
	content: ",";
	margin-right: 0.8em;
}
.back_header .button {
	color: #f0f0f0;
	border: none;
	margin-left: 1em;
	border-radius: 2em 0.5em 0.5em 2em;
}
.back_header {
	display: flex;
	align-items: center;
}
.back_header h3 {
	width: 100%;
}
.card1_2 h2 {
	text-align: center;
}
.fullname {
	text-align: center;
}
.flash {
	font-size: 1.5em;
	color: #f0f0f0;
	text-align: center;
}
