{% extends "base.html" %}
{% block title %}Account Type - Crisp Care{% endblock %}
{% block search_or_heading %} {% endblock %}
{% block section_or_body %}
<section>
	<div class="card1_2" onclick="window.location.assign('{{url_for("views.set_housekeeper")}}')">
		<div class="photo" title="Person Person"></div>
		<h2>House Keeper</h2>
	</div>
	<div class="card1_2" onclick="window.location.assign('{{url_for("views.home")}}')">
		<div class="photo" title="Person Person"></div>
		<h2>Home Owner</h2>
	</div>
</section>
{% endblock %}