{% extends "base.html" %}
{% block title %}Contact @ Crisp Care{% endblock %}
{% block search_or_heading %} {% endblock %}
{% block section_or_body %}
<section>
	<div class="card">
	</div>
	<div class="cardx2">
		<h3>We'd Love To Hear From You</h3>
		<form action="" method="post">
			<div class="entry">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" />
			</div>
			<div class="entry">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" />
			</div>
			<div class="entry">
				<label for="message">Message</label>
				<textarea name="message" id="message" cols="30" rows="10"></textarea>
			</div>
		</form>
		<div class="view_profile">
			<button class="button" title="Click to view profile">Submit</button>
		</div>
	</div>
</section>
{% endblock %}