{% extends "base.html" %}
{% block title %}Crisp Care{% endblock %}
{% block search_or_heading %} {% endblock %}
{% block section_or_body %}
<section>
	<div class="card">
		<div class="photo" title="Click to view profile"></div>
		<div class="description">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit.
				Aliquam, odit nobis, fuga reiciendis fugiat necessitatibus omnis
				tenetur labore nesciunt corrupti explicabo aliquid numquam?
				Fugiat assumenda unde dolorum ullam architecto atque id, omnis
				suscipit natus possimus porro! Laboriosam iste, fugit
				accusantium culpa ducimus vel soluta eveniet maxime consequatur
				tempore nostrum totam.
			</p>
		</div>
		<div class="view_profile">
			<button title="Click to view profile">View</button>
		</div>
	</div>
	<div class="card">
		<div class="photo" title="Click to view profile"></div>
		<div class="description">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit.
				Aliquam, odit nobis, fuga reiciendis fugiat necessitatibus omnis
				tenetur labore nesciunt corrupti explicabo aliquid numquam?
				Fugiat assumenda unde dolorum ullam architecto atque id, omnis
				suscipit natus possimus porro! Laboriosam iste, fugit
				accusantium culpa ducimus vel soluta eveniet maxime consequatur
				tempore nostrum totam.
			</p>
		</div>
		<div class="view_profile">
			<button title="Click to view profile">View</button>
		</div>
	</div>
	<div class="card">
		<div class="photo" title="Click to view profile"></div>
		<div class="description">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit.
				Aliquam, odit nobis, fuga reiciendis fugiat necessitatibus omnis
				tenetur labore nesciunt corrupti explicabo aliquid numquam?
				Fugiat assumenda unde dolorum ullam architecto atque id, omnis
				suscipit natus possimus porro! Laboriosam iste, fugit
				accusantium culpa ducimus vel soluta eveniet maxime consequatur
				tempore nostrum totam.
			</p>
		</div>
		<div class="view_profile">
			<button title="Click to view profile">View</button>
		</div>
	</div>
</section>
{% endblock %}
