{% extends "base.html" %} {% block title %}Crisp Care{% endblock %} {% block
search_or_heading %} {% endblock %} {% block section_or_body %}
<section>
	{% for i, hk in hks %}
	<div class="card">
		<div class="photo" title="Click to view profile"></div>
		<h3 class="fullname">{{ hk[0].fullname }}</h3>
		<div class="rating"><p>&star;&star;&star;&star;&star;</p></div>
		<div class="description">
			<p>{{ hk[1]["intro"] }}</p>
		</div>
		<h4 class="skillset">Skillset</h4>
		<p class="skills">{{ hk[1]["skillset"] }}</p>
		<div class="view_profile">
			<a href="{{ url_for('views.profile_by_id', hk_id=hk[0].id) }}" class="button">View</a>
		</div>
	</div>
	{% if i % 3 == 0 and i != hks|length %}
</section>
<section>{% endif %} {% endfor %}</section>
{% endblock %}
