{% extends "base.html" %}
{% block title %}Booking - Crisp Care{% endblock %}
{% block search_or_heading %} {% endblock %}
{% block section_or_body %}

<section>
	<div class="card">
		<div class="photo" title="Person Person"></div>
		<div class="rating"><p>&star;&star;&star;&star;&star;</p></div>
		<h4>Skillset</h4>
		<ul class="skillset">
			<li>Lorem</li>
			<li>Lorem</li>
			<li>Lorem</li>
			<li>Lorem</li>
		</ul>
		<div class="description">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing
				elit. Aliquam, odit nobis, fuga reiciendis fugiat
				necessitatibus omnis tenetur labore nesciunt corrupti
				explicabo aliquid numquam?
			</p>
		</div>
		<div class="view_profile">
			<button class="button" title="Click to book person">Book</button>
		</div>
	</div>
	<div class="cardx2">
		<h3>Reviews</h3>
		<div class="review">
			<div class="critic"></div>
			<div class="feedback">
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing
					elit. Aliquam, odit nobis, fuga reiciendis fugia
					necessitatibus omnis tenetur labore nesciunt corrupti
					explicabo aliquid numquam?
					<span class="vote">&#128077;</span>
					<span class="vote">&#128078;</span>
					<span class="count">5 Votes</span>
				</p>
			</div>
		</div>
		<div class="review">
			<div class="critic"></div>
			<div class="feedback">
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing
					elit. Aliquam, odit nobis, fuga reiciendis fugia
					necessitatibus omnis tenetur labore nesciunt corrupti
					explicabo aliquid numquam?
					<span class="vote">&#128077;</span>
					<span class="vote">&#128078;</span>
					<span class="count">5 Votes</span>
				</p>
			</div>
		</div>
		<div class="review">
			<div class="critic"></div>
			<div class="feedback">
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing
					elit. Aliquam, odit nobis, fuga reiciendis fugia
					necessitatibus omnis tenetur labore nesciunt corrupti
					explicabo aliquid numquam?
					<span class="vote">&#128077;</span>
					<span class="vote">&#128078;</span>
					<span class="count">5 Votes</span>
				</p>
			</div>
		</div>
		<div class="review">
			<div class="critic"></div>
			<div class="feedback">
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing
					elit. Aliquam, odit nobis, fuga reiciendis fugia
					necessitatibus omnis tenetur labore nesciunt corrupti
					explicabo aliquid numquam?
					<span class="vote">&#128077;</span>
					<span class="vote">&#128078;</span>
					<span class="count">5 Votes</span>
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
