{% extends "base.html" %} {% block title %}Profile - Crisp Care{% endblock %} {%
block search_or_heading %} {% endblock %} {% block section_or_body %}

<section>
	<div class="card">
		<div class="photo" title="Person Person"></div>
		<h3 class="fullname">
			{% if hk == None %} {{ user.fullname }} {% else %} {{ hk[0].fullname
			}} {% endif %}
		</h3>
		<div class="rating"><p>&star;&star;&star;&star;&star;</p></div>
		<div class="description">
			<p>{% if hk != None %} {{ hk[1]["intro"] }} {% endif %}</p>
		</div>
		{% if hk != None %}
		<h4 class="skillset">Skillset</h4>
		<p class="skills">{{ hk[1]["skillset"] }}</p>
		{% if hk[0].id != user.id %}
		<div class="view_profile">
			<a href="{{ url_for('views.book', hk_id=hk[0].id) }}" class="button" title="Click to book person">Book</a>
		</div>
		{% endif %}
		{% endif %}
	</div>
	<div class="cardx2">
		<h3>Reviews</h3>
		{% for review in reviews%}
		<div class="review">
			<div class="critic"></div>
			<div class="feedback">
				<p>
					{{review[0].description}}
				</p>
				<p><sub>By {{review[1].fullname}}</sub>
				</p>
				<p>
					
					<span class="vote">&star;</span>
					<span class="count">{{ review[0].stars }} Stars</span>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endblock %}
