{% extends "base.html" %} {% block title %}Reviews - Crisp Care{% endblock %} {%
block search_or_heading %} {% endblock %} {% block section_or_body %}
<section>
	<div class="card">
		<div class="photo" title="Person Person"></div>
		<h3 class="fullname">{{ hk[0].fullname }}</h3>
		<div class="rating"><p>&star;&star;&star;&star;&star;</p></div>
		<div class="description">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit.
				Aliquam, odit nobis, fuga reiciendis fugiat necessitatibus omnis
				tenetur labore nesciunt corrupti explicabo aliquid numquam?
			</p>
		</div>
	</div>
	<div class="cardx2">
		<div class="back_header">
			<a
				href="{{ url_for('views.profile_by_id', hk_id=hk[0].id) }}"
				class="button"
				>Profile</a
			>
			<h3>Leave a feedback on {{hk[0].fullname|capitalize}}'s performance</h3>
		</div>
		<form
			action="{{ url_for('views.review', hk_id=hk[0].id) }}"
			method="post"
		>
			<div class="entry">
				<label for="description">Feedback</label>
				<textarea
					name="description"
					id="description"
					cols="30"
					rows="10"
					minlength="10"
					required
				></textarea>
			</div>
			<div class="entry">
				<label for="stars">Star</label>
				<input
					type="range"
					name="stars"
					id="stars"
					min="0"
					max="5"
					required
				/>
			</div>
			<div class="view_profile">
				<button
					class="button"
					type="submit"
					title="Click to view profile"
				>
					Review
				</button>
			</div>
		</form>
	</div>
</section>
{% endblock %}
