{% extends "base.html" %}
{% block title %}SignIn/SignUp Crisp Care{% endblock %}
{% block search_or_heading %} {% endblock %}
{% block section_or_body %}
<section>
	<div class="card1_2">
		<h3>Sign into your account</h3>
		<form action="{{url_for('auth.login')}}" method="post">
			<div class="entry">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" />
			</div>
			<div class="entry">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" />
			</div><div class="view_profile">
				<button type="submit">Login</button>
			</div>
		</form>
	</div>
	<div class="card1_2">
		<h3>Create a new account</h3>
		<form action="{{url_for('auth.signup')}}" method="post">
			<div class="entry">
				<label for="fullname">Fullname</label>
				<input type="text" name="fullname" id="fullname" />
			</div>
			<div class="entry">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" />
			</div>
			<div class="entry">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" />
			</div>
			<div class="view_profile">
				<button type="submit">Login</button>
			</div>
		</form>
	</div>
</section>
{% endblock %}
